$color_1: #5D6970;
$color_2: #091133;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	border: 2px solid black;
	display: flex;
	height: 100vh;
	width: 100%;
}
.side1 {
	img {
		height: 100%;
		width: 500px;
	}
}
.side3 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
	padding-left: 50px;
	margin-left: 40px;
	p {
		padding-left: 2px;
		margin-left: 3px;
		margin-top: 6px;
		color: $color_1;
	}
	h3 {
		margin-top: 5px;
		color: $color_2;
	}
}
.side4 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
	padding-left: 50px;
	margin-left: 40px;
	p {
		padding-left: 2px;
		margin-left: 3px;
		margin-top: 6px;
		color: $color_1;
	}
	h3 {
		margin-top: 5px;
		color: $color_2;
	}
}
