$color_1: #091133;
$color_2: #6F7CB2;
$color_3: #5D6970;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.side1 {
	img {
		position: relative;
		height: 90vh;
		width: 350px;
		top: 50px;
		right: 40px;
		border-radius: 58px;
		height: 100vh;
	}
}
.side2 {
	h1 {
		margin-top: 50px;
		font-size: 40px;
		padding-right: 100px;
		padding-left: 160px;
		margin-right: 120px;
		font-weight: bold;
		word-spacing: 2px;
		color: $color_1;
	}
}
#id1 {
	padding-left: 160px;
	margin-right: 40px;
	padding-right: 80px;
	color: $color_2;
	margin-top: 15px;
}
#id2 {
	padding-left: 160px;
	margin-right: 40px;
	padding-right: 80px;
	color: $color_2;
	margin-top: 15px;
}
.one {
	h3 {
		color: $color_1;
	}
	margin-top: 50px;
	padding-left: 160px;
	p {
		margin-top: 8px;
		margin-right: 120px;
		color: $color_3;
	}
}
.two {
	h3 {
		color: $color_1;
	}
	margin-top: 30px;
	padding-left: 160px;
	p {
		margin-top: 8px;
		margin-right: 120px;
		color: $color_3;
	}
}
