$color_1: #2245E3;
$color_2: #929ECC;
$color_3: white;
$color_4: #091133;
$font-family_1: 'Roboto Condensed', sans-serif;
$font-family_2: 'Roboto';
$background-color_1: #111B47;
$background-color_2: #FFD166;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav {
	width: 100%;
	height: 10vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	.logo {
		position: absolute;
		right: 1000px;
		color: $color_1;
		font-size: 22px;
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 900;
	}
	.menu {
		width: 40%;
		display: flex;
		margin-left: 550px;
		a {
			width: 15%;
			color: $color_2;
			text-decoration: none;
		}
	}
	.button {
		position: absolute;
		display: flex;
		padding-left: 850px;
	}
}
.btn-secondary {
	text-decoration: none;
	cursor: pointer;
	margin-right: 40px;
	padding: 6px 15px 6px 15px;
	background-color: $background-color_1;
	color: $color_3;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
}
.btn-primary {
	text-decoration: none;
	cursor: pointer;
	margin-top: 3px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: $background-color_2;
	color: $color_4;
	font-family: $font-family_2;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}
